/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background-color: #f0f0f0;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  color: #333366;
  text-shadow: 0px 2px 3px #999;
}

h1 {
  font-size: 28.5px;
}

h2 {
  font-size: 23.5px;
}

h3 {
  font-size: 18.5px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

.container p,
.container pre,
.container ul,
.container dl {
  margin-left: 1em;
}

.container a:hover, .container a:focus {
  color: #005580;
  text-decoration: underline;
  text-shadow: 1px 1px 1px #08c;
}
