<?php
$req = $app->request();
$rootPath = function($str) use($req) {
  echo $req->getRootUri() . '/' . $str;
}
?>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="<?php $rootPath('css/bootstrap.min.css');?>">
    <style>
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
      <link rel="stylesheet" href="<?php $rootPath('css/bootstrap-responsive.min.css');?>">
      <link rel="stylesheet" href="<?php $rootPath('css/main.css');?>">

<script src="<?php $rootPath('js/vendor/modernizr-2.6.2-respond-1.1.0.min.js');?>"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<?php $rootPath("");?>">シェアコト開発者ガイド</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="<?php $rootPath("");?>">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <?php
      echo $html;
      ?>

    </div> <!-- /container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="<?php $rootPath('js/vendor/jquery-1.9.1.min.js');?>"><\/script>')</script>

    <script src="<?php $rootPath('js/vendor/bootstrap.min.js');?>"></script>

    <script src="<?php $rootPath('js/main.js');?>"></script>
  </body>
</html>
